<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1> Little Bear </h1>
    <p>Lorem ipsum dolor amet post-ironic dreamcatcher activated charcoal waistcoat, 
    slow-carb mumblecore yuccie pop-up blog readymade pabst thundercats mixtape lomo. 
    Blue bottle air plant banjo, tumeric migas chia letterpress la croix biodiesel glossier 
    taiyaki actually gochujang jean shorts. Health goth skateboard brunch raclette +1 portland, 
    vice wayfarers kale chips synth post-ironic. Shoreditch bushwick air plant humblebrag 
    live-edge crucifix post-ironic swag kickstarter austin snackwave occupy photo booth tumeric. 
    Readymade freegan locavore squid skateboard tumblr retro. Bicycle rights snackwave typewriter, 
    chambray hot chicken stumptown vape tilde keffiyeh try-hard iceland air plant kitsch gentrify.
    </p>
  </div>
</div>